// Variables
$primary-color: #1a1a40; // Background color
$secondary-color: #ffffff; // White text
$accent-color: #4a4aff; // Blue accent
$input-bg: #ffffff; // White input fields
$input-border: #cccccc; // Light gray border
$input-text: #333333; // Dark text for inputs



.fotterNB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    top: calc(98vh - 500px);
    z-index: 2;
    width: 100dvw;

}


.fotterSB {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    width: 100dvw;
}

.btn {
    padding: 5px 100px;
    width: 350px;

    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 35px;
    font-weight: 600;
}

.back {
    //  left: -20px;
    border-radius: 0 9999rem 9999rem 0;
    background-color: $secondary-color;
    color: $accent-color;
    &:active {
        background-color: $accent-color;
        color: $secondary-color;
    }
}

.next {
    // z-index: 200;

    left: 20px;
    border-radius: 9999rem 0 0 9999rem;
    background-color: $accent-color;
    color: $secondary-color;
    &:active {
        background-color: $secondary-color;
        color: $accent-color;
    }
}

.submit {
    // z-index: 200;

    // left: ;
    border-radius: 9999rem 0 0 9999rem;
    background-color: $accent-color;
    color: $secondary-color;
    &:active {
        background-color: $secondary-color;
        color: $accent-color;
    }
}
p {
    font-size: 0.9rem;
    margin-left: 20px;
}