<main>
    <div class="container">
        <div class="title">
            <h1>Your Card Has Been Activated Successfully</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/e4c8eb69-f7e5-4dfd-be85-7071d352e6cc/S4HHvJ4KIL.lottie"
                background="transparent"
                  speed="0.6"
                  class="lottie-animation"
                  style="width: 550px; height: 550px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>