<main>
    <div class="container">
        <div class="title">
            <h1>Your Card Has Been Activated Successfully</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/c64dad92-65cd-4dd3-81f0-594da5c1671f/5WYNLWFR44.lottie"
                background="transparent"
                  speed="1"
                  class="lottie-animation"
                  style="width: 550px; height: 550px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>