<main>
    <div class="container">
        <div class="title">
            <h1>Your Card Has Been Activated Successfully</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/43a1ad50-760e-4067-b03a-deea78a2f487/MXPUjVK9YI.lottie"
                background="transparent"
                  speed="0.85"
                  class="lottie-animation"
                  style="width: 390px; height: 390px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>