/* You can add global styles to this file, and also import other style files */
// Variables
$primary-color: #1a1a40;
$secondary-color: #ffffff;
$accent-color: #4a4aff;

@font-face {
    font-family: "Noto Kufi Arabic";
    src: url("/pics/fonts/noto/NotoKufiArabic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
// Reset some default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", serif;
}

body {
    background-image: url(/pics/back.jpg) ;
    background-size:cover;
    background-position:0px -100px;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

section{
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error-message-red{
    color: red;
    font-size: 13px;
}