<main>
    <div class="container">
        <div class="title">
            <h1>Your Card Has Been Requested Successfully</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/aaeb0741-af52-4d61-8b53-f43dbb9ac774/7ejs8XDVSi.lottie"
                background="transparent"
                  speed="0.78"
                  class="lottie-animation"
                  style="width: 450px; height: 450px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>