<!-- <main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>My Certificates</h1>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="content">
            
            <div class="table-box">
                <div class="table-row table-head">
                    <div class="table-cell first-cell"><p>Type</p></div>
                    <div class="table-cell"><p>Number</p></div>
                    <div class="table-cell"><p>Status</p></div>
                    <div class="table-cell"><p>Amount</p></div>
                    <div class="table-cell"><p>Rate</p></div>
                    <div class="table-cell"><p>Issued Date</p></div>
                    <div class="table-cell"><p>Redeem Date</p></div>
                    <div class="table-cell last-cell"></div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>Basic Certificate</p></div>
                    <div class="table-cell"><p>668451512</p></div>
                    <div class="table-cell"><p>Active</p></div>
                    <div class="table-cell"><p>$85000</p></div>
                    <div class="table-cell"><p>15%</p></div>
                    <div class="table-cell"><p>2024-04-01</p></div>
                    <div class="table-cell"><p>2025-04-01</p></div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"(click)="redeem()">Redeem</button>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>Basic Certificate</p></div>
                    <div class="table-cell"><p>668451512</p></div>
                    <div class="table-cell"><p>Active</p></div>
                    <div class="table-cell"><p>$85000</p></div>
                    <div class="table-cell"><p>15%</p></div>
                    <div class="table-cell"><p>2024-04-01</p></div>
                    <div class="table-cell"><p>2025-04-01</p></div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"(click)="redeem()">Redeem</button>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>Basic Certificate</p></div>
                    <div class="table-cell"><p>668451512</p></div>
                    <div class="table-cell"><p>Active</p></div>
                    <div class="table-cell"><p>$85000</p></div>
                    <div class="table-cell"><p>15%</p></div>
                    <div class="table-cell"><p>2024-04-01</p></div>
                    <div class="table-cell"><p>2025-04-01</p></div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"(click)="redeem()">Redeem</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <button class="back-btn" (click)="back()">Back</button>
        </div>
    </div>
</main> -->













<main>
    <div class="container">
        <div class="title">
            <div class="text">

            </div>
            <button type="button" (click)="logout()">Log out</button>
        </div>
        <div class="content">
            <h1>My Certificates</h1>
            <div class="table-box">
                <div class="table-row table-head">
                    <div class="table-cell first-cell">
                        <p>Name</p>
                    </div>
                    <div class="table-cell">
                        <p>Reference Code</p>
                    </div>
                    <div class="table-cell">
                        <p>Status</p>
                    </div>
                    <div class="table-cell">
                        <p>Amount</p>
                    </div>
                    <div class="table-cell">
                        <p>Interest Rate</p>
                    </div>
                    <div class="table-cell">
                        <p>Issued Date</p>
                    </div>
                    <div class="table-cell last-cell"></div>
                </div>

                @for(certificate of certificates; track certificates._id){
                <div class="table-row">
                    <div class="table-cell first-cell">
                        <p>Basic Certificate</p>
                    </div>
                    <div class="table-cell">
                        <p>{{ certificate.refCode || 'No data found'}}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{ certificate.status || 'No data found' }}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{ certificate.purchaseAmount || 'No data found' |egyptcurrency }}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{ certificate.interestRate || 'No data found'}} %</p>
                    </div>
                    <div class="table-cell">
                        <p>{{ certificate.issuedAt || 'No data found' |egyptTime }}</p>
                    </div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"
                            (click)="redeem(certificate._id,certificate.accountId)">Redeem</button>
                    </div>
                </div>
                }
            </div>

        </div>
        <div class="footer">
            <button type="button" class="back-btn" (click)="back()">Back</button>
        </div>
    </div>
</main>