<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>My Certificates</h1>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="content">
            
            <div class="table-box">
                <div class="table-row table-head">
                    <div class="table-cell first-cell"><p>Type</p></div>
                    <div class="table-cell"><p>Number</p></div>
                    <div class="table-cell"><p>Status</p></div>
                    <div class="table-cell"><p>Amount</p></div>
                    <div class="table-cell"><p>Rate</p></div>
                    <div class="table-cell"><p>Issued Date</p></div>
                    <div class="table-cell"><p>Redeem Date</p></div>
                    <div class="table-cell last-cell"></div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>Basic Certificate</p></div>
                    <div class="table-cell"><p>668451512</p></div>
                    <div class="table-cell"><p>Active</p></div>
                    <div class="table-cell"><p>$85000</p></div>
                    <div class="table-cell"><p>15%</p></div>
                    <div class="table-cell"><p>2024-04-01</p></div>
                    <div class="table-cell"><p>2025-04-01</p></div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"(click)="redeem()">Redeem</button>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>Basic Certificate</p></div>
                    <div class="table-cell"><p>668451512</p></div>
                    <div class="table-cell"><p>Active</p></div>
                    <div class="table-cell"><p>$85000</p></div>
                    <div class="table-cell"><p>15%</p></div>
                    <div class="table-cell"><p>2024-04-01</p></div>
                    <div class="table-cell"><p>2025-04-01</p></div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"(click)="redeem()">Redeem</button>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>Basic Certificate</p></div>
                    <div class="table-cell"><p>668451512</p></div>
                    <div class="table-cell"><p>Active</p></div>
                    <div class="table-cell"><p>$85000</p></div>
                    <div class="table-cell"><p>15%</p></div>
                    <div class="table-cell"><p>2024-04-01</p></div>
                    <div class="table-cell"><p>2025-04-01</p></div>
                    <div class="table-cell last-cell">
                        <button class="redeem-btn"(click)="redeem()">Redeem</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="footer">
            <button class="back-btn" (click)="back()">Back</button>
        </div>
    </div>
</main>
