<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>{{ userName }}</h1>
                <h3>{{accountNumber}}</h3>
            </div>
            <button type="button" (click)="logout()">Log out</button>
        </div>
        <div class="content">
            <h1>Transactions History</h1>

            <div class="table-box">
                <div class="table-row table-head">
                    <div class="table-cell first-cell"><p>Transaction ID</p></div>
                    <div class="table-cell"><p>Date</p></div>
                    <div class="table-cell"><p>Type</p></div>
                    <div class="table-cell"><p>Amount</p></div>
                    <div class="table-cell last-cell">
                        @for(transaction of transactions; track transactions._id){
                             @if(transaction.type == 'transfer'){
                                 @if(transaction.direction =='sent'){
                                         <p>Recipient Account</p>
                                }@else {<p>Sender Account</p>}  
                          }
                        }
                    </div>
                </div>
                @for(transaction of transactions; track transactions._id){
                <div class="table-row">
                    <div class="table-cell first-cell"><p>{{ transaction._id|| 'No data found' }}</p></div>
                    <div class="table-cell"><p>{{ transaction.date || 'No data found' |date}}</p></div>
                    <div class="table-cell"><p>{{ transaction.type || 'No data found' }}</p>
                                            <p>{{ transaction.direction  || 'No data found' }}</p>
                    </div>
                    <div class="table-cell"><p>{{ transaction.amount || 'No data found' |currency }}</p></div>  
                    <div class="table-cell last-cell">
                        @if(transaction.type == 'transfer'){
                            @if(transaction.direction =='sent'){
                                <p>{{ transaction.recipientAccount || ' ' }}</p>
                           }@else {<p>{{ transaction.senderAccount || ' ' }}</p>} 
                        
                        }
                    </div>
                </div>
                }
           
                <!-- <div class="table-row">
                    <div class="table-cell first-cell"><p>68555100</p></div>
                    <div class="table-cell"><p>06/01/2024</p></div>
                    <div class="table-cell"><p>Withdraw</p></div>
                    <div class="table-cell"><p>-$1350</p></div>
                    <div class="table-cell last-cell"></div>
                </div>
                <div class="table-row">
                    <div class="table-cell first-cell"><p>66621040</p></div>
                    <div class="table-cell"><p>11/03/2025</p></div>
                    <div class="table-cell"><p>Transfer</p></div>
                    <div class="table-cell"><p>-$9500</p></div>
                    <div class="table-cell last-cell"></div>
                </div> -->

            </div>

        </div>
        <div class="footer">
            <button type="button" class="back-btn" (click)="back()">Back</button>
        </div>
    </div>
</main>