<main>
    <div class="container">
        <div class="title">
            <h1>Your Card Has Been Frozen!</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/f249fd51-6c41-47a6-97d6-1f3ca9399796/nUL1hazenn.lottie"
                background="transparent"
                  speed="0.9"
                  class="lottie-animation"
                  style="width: 500px; height: 500px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>