<main>
    <div class="pin-container">
      <div class="upper">
        <div class="enter-pin red">Unfreeze Card</div>
  
        <div class="Certf">
          <img src="/pics/cardpng.png" alt="Freeze Card" class="certificate-image">
        </div>
  
        <div class="warning-box">
          Card Status: Freezed
        </div>
  
        <div class="input-container">
          <div class="input-wrapper">
            <label for="password">Enter Password</label>
            <input type="text" id="password" readonly>
          </div>
        </div>
      </div>
    </div>
  
    <div class="divider"></div>
  
    <div class="numpad-container">
      <app-num-pad></app-num-pad>
    </div>
  </main>
  
  <footer>
    <button class="language-btn confirm" (click)="confirm()">Confirm</button>
    <button class="language-btn cancel" (click)="cancel()">Cancel</button>
  </footer>
  