<main>
  <div class="pin-container">
    <div class="upper">
      <div class="enter-pin red">Freeze Card</div>

      <div class="Certf">
        <img src="/pics/cardpng.png" alt="Freeze Card" class="certificate-image">
      </div>

      <div class="warning-box">
        Warning: Freezing your card will disable all transactions.
        <br>
        Unfreeze option will be available after 48 hours.
      </div>

      <label for="password">Enter Your Password</label>
      <div class="input-container">
        <form [formGroup]="toggleForm">
            <input type="password" id="password" formControlName="password">
          <div *ngIf="toggleForm.get('password')?.touched && toggleForm.get('password')?.invalid" class="error-message">
            <span *ngIf="toggleForm.get('password')?.errors?.['required']">Password is required</span>
            <span *ngIf="toggleForm.get('password')?.errors?.['minlength']">Password must be at least 6
              characters</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="numpad-container">
    <app-num-pad></app-num-pad>
  </div>
</main>

<footer>
  <button class="language-btn confirm" (click)="confirm()" [disabled]="toggleForm.invalid" [style.--highlighted]="toggleForm.invalid ? '1' : '0'">Confirm</button>
  <button class="language-btn cancel" (click)="cancel()">Cancel</button>
</footer>