.chatKeyboard {
    position: fixed;
    bottom: 500px;
    left: -40%;
    right: 0;
    z-index: 1000;
    // color: red;
}


.chatKeyboardContainer {
    position: fixed;
    bottom: 140px;
    left: 20px;
    right: 0;
    z-index: 10100;
    // color: red;
    background-color: #1c1d71;
    // backdrop-filter: blur(10px);
    width: 870px;
    height: 400px;
    border-radius: 50px;
    border: 1px solid #ffffff;
}