<main>
    <div class="container">
        <div class="title">
            <h1>Your Certificate Has Been Issued Successfully</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/d0cec4e8-47d3-4b47-96e0-2102ec9ce5d4/IQMfmBQe2R.lottie"
                background="transparent"
                  speed="0.9"
                  class="lottie-animation"
                  style="width: 550px; height: 550px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>