<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>{{userData?.name}}</h1>
                <h3>5078XXXXXXXXXXXX1254</h3>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="services">
                  <!-- الراوتس عايزه تتعمل انا حايبها من كود صفحه تانيه توفيرا للوقت بس -->

            <button (click)="navigateTo('cardservices')" class="card moneyWithdraw"><i class="bi bi-credit-card-2-front"></i>
                Card Services</button>
            <button (click)="navigateTo('certificates')" class="card certificates"><i class="bi bi-bank"></i>
                Certificates  </button>
            <button (click)="navigateTo('ReportanIssue')" class="card transactionsHistory"><i class="bi bi-flag"></i>Report an Issue</button>
        </div>
    </div>
    <div class="footer">
        <button class="buttonn" (click)="back()">Back</button>
    </div>
</main>