<main>
    <div class="container">
        <div class="title">
            <h1>Are you sure that the amount has been entered correctly?</h1>
        </div>
        <div class="details">
            <div class="from">
                <h3>Transferring From:<br><span>{{ accountData?.accountNum}}</span></h3>
                <h3>BTBank</h3>
                <h3>Sent Amount: <span>{{transferData.amount}}</span> <span>EGP</span></h3>
            </div>
            <i class="ti ti-transfer"></i>
            <div class="to">
                <h3>Transferred To:<br><span>{{transferData.iban}}</span></h3>
                <h3>{{transferData.bank}}</h3>
                <h3>Recieved Amount:<span class="currency">{{transferData.amount}}</span><span class="currency">EGP</span></h3>
            </div>
        </div>
        <div class="buttons">
            <button (click)="back()">Back</button>
            <button (click)="confirm()">Confirm</button>
        </div>
    </div>
</main>
