<main>
    <div class="lottie-fixed">
        <dotlottie-player
    src="https://lottie.host/ffa18a87-267a-48dc-ab5c-7e6c561a258c/hwjsXO4RM7.lottie"
        background="transparent"
          speed="2.8"
          class="lottie-animation"
          style="width: 230px; height: 230px"
          loop
          autoplay>
        </dotlottie-player>
      </div>
  
    <div class="white-container">
        <div class="finger">Please put your finger on the sensor</div>
    </div>
    <button class="btn-back" (click)="back()">Back</button>
</main>