<main>
    <div class="pin-container">
        <div class="upper">
            <div class="enter-pin">Request a new card</div>
            <div class="Cert">
                <img src="/pics/cardpng.png" alt="Elite Certificate" class="certificate-image">
            </div>
        </div>

        <form [formGroup]="cardForm">
            <div class="input-container">
                <div class="input-wrapper">
                    <label for="password">Create New Password</label>
                    <input type="password" id="password" formControlName="password">
                </div>

                <div class="input-wrapper">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" formControlName="confirmPassword">
                </div>
            </div>
        </form>
    </div>

    <div class="divider"></div>

    <div class="numpad-container">
        <app-num-pad></app-num-pad>
    </div>
</main>

<footer>
    <button type="button" class="language-btn confirm" [disabled]="cardForm.invalid" (click)="confirm()">Confirm</button>
    <button type="button" class="language-btn cancel" (click)="back()">Cancel</button>
</footer>