// Variables
$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #4a4aff;

// Reset some default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", serif;
}

body {
    background-image:url(/assets/back.jpg);
    background-size: cover;
    background-position: center;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    min-height: 105vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;

    .logo {
        :first-child {
            height: 50px;
            top: 10px;
            position: relative;
        }
        :last-child {
            height: 30px;
        }
    }

    .date {
        font-weight: bold;
    }
}

button.btnn {
    width: 200px;
    height: 60px;
    font-style: italic;
    position: absolute;
    top: 78%;           
    left: 153px;        
    border: none;
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
    background-color: #000000;  
    border-radius: 0rem 9999rem 9999rem 0rem;
    &:active {
        background-color:#4a4aff;
    }
}
button.buy {
    width: 200px;
    height: 60px;
    font-style: italic;
    position: absolute;
    // padding: -50px 0px;
    border: none;
    color: $secondary-color;
    cursor: pointer;
    transition: background-color 0.3s;
    // text-align:start;
    font-size: 35px;
    font-weight: 600;
    &:active{
        background-color: $secondary-color;
        border: 3px solid #4a4aff;

        color: #4a4aff;
        // color: $accent-color;
    }
    top: 78%;           
    left: 77%;
    border-radius: 9999rem 0 0 9999rem;
    background-color: $accent-color;
}
main {
    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-radius: 50px;
        border: none;
        height: 80vh;
        color: $accent-color;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80dvw;
            padding: 20px 70px;

            .text {
                h1 {
                    font-style: italic;
                    font-weight: 800;
                }

                h3 {
                    color: gray;
                    font-weight: 500;
                    margin: -10px 0 0 5px;
                }
            }
            button.topp {
                width: 200px;
                height: 60px;
                font-style: italic;
                position: relative;
                // padding: -50px 0px;
                border: none;
                color: $secondary-color;
                cursor: pointer;
                transition: background-color 0.3s;
                // text-align:start;
                font-size: 35px;
                font-weight: 600;
                &:active{
                    background-color: $secondary-color;
                    border: 3px solid #4a4aff;

                    color: #4a4aff;
                    // color: $accent-color;
                }
                top: 15px;
                left: 70px;
                border-radius: 9999rem 0 0 9999rem;
                background-color: $accent-color;
           
        }}}}
        
     
        
        .card {
            background-color: #ffffff;
            margin-top: 30px;
            border: none;
            border-radius: 20px;
            box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
            padding: 10px;
            width: 400px;
            text-align: center;
        }
        
        .card img {
            width: 355px;
            border-radius: 15px;
            margin-bottom: 25px;
            margin-left: 13px;
        }
        
        
        .card-content p {
            margin: 5px 0;
            font-size: 22px;
            text-align: left;
            font-weight: 500;
            color: $primary-color;
            font-style: italic;
            padding-left: 30px;
            
        }
        
        
        
        .basic {
            background-color: #4a4aff1c;
            color: #4a4aff;
            &:active {
                   
                transition: background-color 0.2s ease-in-out;

                background-color: #4a4aff;
                color: #ffffff;        }
        
        }
        
