<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>Available Certificates</h1>
            </div>
            <button class="topp" (click)="logout()">Log out</button>
        </div>

        <div class="cards-container">
            <div class="card">
                <img src="/pics/certf2.png" alt="Basic Certificate">
                <div class="card-content">
                    <p><b>Minimum Amount:</b> 10,000 EGP</p>
                    <p><b>Interest Rate:</b> 15.0%</p>
                    <p><b>Interest Type:</b> Monthly</p>
                    <p><b>Renew:</b> Renewable</p>
                    <button class="purchase basic">Purchase</button>
                </div>
            </div>
            <div class="card">
                <img src="/pics/certf.png" alt="Elite Certificate">
                <div class="card-content">
                    <p><b>Minimum Amount:</b> 50,000 EGP</p>
                    <p><b>Interest Rate:</b> 30.0%</p>
                    <p><b>Interest Type:</b> Quarterly</p>
                    <p><b>Renew:</b> Renewable</p>
                    <button class="purchase elite">Purchase</button>
                </div>
            </div>
            <div class="card">
                <img src="pics/certf3.png" alt="Plus Certificate">
                <div class="card-content">
                    <p><b>Minimum Amount:</b> 25,000 EGP</p>
                    <p><b>Interest Rate:</b> 17.5%</p>
                    <p><b>Interest Type:</b> Annual</p>
                    <p><b>Renew:</b> Not Renewable</p>
                    <button class="purchase plus">Purchase</button>
                </div>
            </div>
        </div>
        <button class="btnn" (click)="back()">Back</button>
    </div>
</main>
