
<main>
    
    <div class="white-container">  
        <div class="succ">Please Get the Reciept</div>
           
        <div class="lower">
            <div class="succ2">Thank you, Have a great day!</div>

        </div>
        <div class="lottie-fixed">
            <dotlottie-player
            src="https://lottie.host/f6168a9a-53c1-4dd0-a5a1-ffc2007fb424/ukJbPYwU2B.lottie"
             background="transparent"
              speed="1.5"
              class="lottie-animation"
              loop
              autoplay>
            </dotlottie-player>
          </div>

    </div>
</main>
