
<main>
    
    <div class="white-container">  
        <div class="succ">Please Get the Reciept</div>
           
        <div class="lower">
            <div class="succ2">Thank you, Have a great day!</div>

        </div>
        <div class="lottie-fixed">
            <dotlottie-player
            src="https://lottie.host/2bd28dd5-b208-4c0a-b272-cfc4e947e963/XoIedd6XpX.lottie"
            background="transparent"
              speed="1.2"
              class="lottie-animation"
              loop
              autoplay>
            </dotlottie-player>
          </div>

    </div>
</main>
