<main>
    <div class="container">
        <div class="title">
            <h1>Your Certificate Has Been Redeemed Successfully</h1>
        </div>
        <div class="details">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/affdfb0d-9abd-4920-82e3-845a8fcde519/gKbEjM5Iw3.lottie"
                background="transparent"
                  speed="0.9"
                  class="lottie-animation"
                  style="width: 550px; height: 550px"
  
                  autoplay>
                </dotlottie-player>
              </div>
           
        </div>
    </div>
  </main>