<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>Card Services</h1>
            </div>
            <button class="topp" (click)="logout()">Log out</button>
        </div>

        <div class="cards-container">
            <div class="card">
              <img src="/pics/cardpng.png" alt="Basic Certificate">
              
              <div class="card-content">
                <p><b>Card Number:</b> 5078 1264 0028 9888</p>
                <p><b>Expiry Date:</b> 12/28</p>
                <p><b>CVV:</b> 116</p>
              </div>
            </div>
            <div class="divider"></div>

            <div class="actions">
              <button (click)="activate()">Activate</button>
              <button (click)="request()">Request A New Card</button>
              <button (click)="freeze()">Freeze</button>
              <button (click)="Unfreeze()">Unfreeze</button>

            </div>
          </div>
          
          <button class="btnn" (click)="back()">Back</button>
          
    </div>
</main>
