// Variables
$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #4a4aff;

// Reset some default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", serif;
}

body {
    background-image: url(/assets/back.jpg);
    background-size: cover;
    background-position: center;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    min-height: 105vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;

    .logo {
        :first-child {
            height: 50px;
            top: 10px;
            position: relative;
        }
        :last-child {
            height: 30px;
        }
    }

    .date {
        font-weight: bold;
    }
}

main {
    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        border-radius: 50px;
        border: none;
        height: 80vh;
        color: $accent-color;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80dvw;
            padding: 20px 70px;

            .text {
                h1 {
                    font-style: italic;
                    font-weight: 800;
                }

                h3 {
                    color: gray;
                    font-weight: 500;
                    margin: -10px 0 0 5px;
                }
            }

            button.topp {
                width: 200px;
                height: 60px;
                font-style: italic;
                position: relative;
                border: none;
                color: $secondary-color;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 35px;
                font-weight: 600;
                background-color: $accent-color;
                border-radius: 9999rem 0 0 9999rem;
                top: 15px;
                left: 70px;

                &:active {
                    background-color: $secondary-color;
                    border: 3px solid $accent-color;
                    color: $accent-color;
                }
            }
        }

        .cards-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 123px;
            margin-top: 30px;

            .card {
                background-color: #ffffff;
                border: none;
                border-radius: 20px;
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
                padding: 10px;
                width: 400px;
                text-align: center;

                img {
                    width: 355px;
                    border-radius: 15px;
                    margin-bottom: 25px;
                    margin-left: 13px;
                }

                .card-content p {
                    margin: 12px 0;
                    font-size: 20px;
                    text-align: left;
                    font-weight: 500;
                    color: $primary-color;
                    font-style: italic;
                    padding-left: 15px;
                }
            }

            .actions {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-top: 30px;

                button {
                    background-color: #4a4aff1c;
                    color: $accent-color;
                    width: 350px;
                    height: 60px;
                    font-size: 22px;
                    font-weight: 600;
                    border: none;
                    border-radius: 15px;
                    font-style: italic;
                    cursor: pointer;
                    transition: background-color 0.3s, color 0.3s;

                    
                    &:active {
                        background-color: $accent-color;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
.divider {
    width: 2px;
    height: 90%;
margin-top: 21px;    background-color: $accent-color;
    border-radius: 100%;
    // margin: 0 20px;
}
/* زرار الباك لوحده */
button.btnn {
    width: 200px;
    height: 60px;
    font-style: italic;
    position: absolute;
    top: 78%;
    left: 153px;
    border: none;
    color: $secondary-color;
    font-size: 35px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
    background-color: $primary-color;
    border-radius: 0rem 9999rem 9999rem 0rem;

    &:active {
        background-color: $accent-color;
    }
}
