<main>
    <div class="pin-container">
        <div class="upper">
            <div class="enter-pin">Activate Card</div>
            <div class="input-container">
                <form [formGroup]="activateForm">
                    <label for="password">Enter Your Password</label>
                    <div class="input-wrapper">
                        <input type="password" id="password" formControlName="password">
                    </div>
                    <div *ngIf="activateForm.get('password')?.touched && activateForm.get('password')?.invalid"
                        class="error-message">
                        <span *ngIf="activateForm.get('password')?.errors?.['required']">Password is required</span>
                        <span *ngIf="activateForm.get('password')?.errors?.['minlength']">Password must be at least 6
                            characters</span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="numpad-container">
        <app-num-pad></app-num-pad>
    </div>
</main>

<footer>
    <button class="language-btn confirm" (click)="confirm()" [disabled]="activateForm.invalid">Confirm</button>
    <button class="language-btn cancel" (click)="cancel()">Cancel</button>
</footer>