<section>
    <main>
        <h1>Welcome to BTBANK</h1>
        <!-- <div > -->
            <img (click)="navToManualSignin()" src="/pics/insert-credit-card.svg" alt="insert-credit-card">
        <!-- </div> -->
        <h2>Please insert your card</h2>
      

    </main>
   <div class="options">
    <h3>Sign in with</h3>
    <h4>New User?</h4>
   </div> 
    <footer>
        <button class="language-btn english" (click)="[navToLogin()]">
            Fingerprint
            <i class="ti ti-fingerprint"></i>
        </button>
        <button class="language-btn register" (click)="navToSignup()">
            Register
        </button>
        
    </footer>
</section>