<section>
    <main>
        <h1>Welcome to BTBANK</h1>
        <!-- <div > -->
            <img (click)="navToManualSignin()" src="/pics/insert-credit-card.svg" alt="insert-credit-card">
        <!-- </div> -->
        <h2>Please insert your card</h2>
        <h2>New User?</h2>
    </main>
    <footer>
        <button class="language-btn english" (click)="[navToLogin()]">
            Fingerprint
            <i class="ti ti-fingerprint"></i>
        </button>
        <button class="language-btn register" (click)="navToSignup()">
            Register
        </button>
        <button class="language-btn arabic">
            Cardless
            <i class="ti ti-credit-card-off"></i>
        </button>
    </footer>
</section>