// Variables
$primary-color: #1a1a40;
$secondary-color: #ffffff;
$accent-color: #4a4aff;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Kufi Arabic", serif;
}

body {
    background-image: url(https://s3-alpha-sig.figma.com/img/92ee/87a3/466b5164ecf380f788679fd51c66c5be?Expires=1739750400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=g4uUM2G-OZIHWeOBxenTgJ5y46fR~m4txlH5r2myovLcG5pnAQmibTo7ZORQtAHoxLfRrFTbXNuBMkcaY51icewSvmxgzBtzlBN03kqUek~K-2sqozZmZJVVpVj0hZ~oVa4XU2~laeWajsE2cHkqWV2s5ARmKEkc60EEK~XJaeSWiEZt1VBfUKMDVe815I9sNyXfoJEoAwd7gw8EHp-RCVSRnELG1jn9jFTgITA7NRmb7Xodc8F1ll8~zklNxDBD8U2MeStaarDariu~LpxPOmNVOvZ~gTW59xFhir~JBsI64hhwQk0mknCWKoycb7mV9VX-F1fArk3spvZAxoPC4Q__);
    background-size: cover;
    background-position: center;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 25px;

    .logo {
        :first-child {
            height: 50px;
            top: 10px;
            position: relative;
        }
        :last-child {
            height: 30px;
        }
    }

    .date {
        font-weight: bold;
    }
}

main {
    .container {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        border-radius: 50px;
        border: none;
        height: 80vh;
        color: $accent-color;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 80dvw;
            padding: 20px 70px;

            .text {
                h1 {
                    font-style: italic;
                    font-weight: 800;
                }

                h3 {
                    color: gray;
                    font-weight: 500;
                    margin: -10px 0 0 5px;
                }
            }

            button {
                width: 200px;
                height: 60px;
                font-style: italic;
                position: relative;
                // padding: -50px 0px;
                border: none;
                color: $secondary-color;
                cursor: pointer;
                transition: background-color 0.3s;
                // text-align:start;
                font-size: 35px;
                font-weight: 600;
                &:active{
                    background-color: $secondary-color;
                    border: 3px solid #4a4aff;

                    color: #4a4aff;
                    // color: $accent-color;
                }
                
                top: 15px;
                left: 70px;
                border-radius: 9999rem 0 0 9999rem;
                background-color: $accent-color;
            }
        }

        .content {
            height: 300px;
            width: 100%;
            display: flex;
        }

        .footer {
            display: flex;
            justify-content: start;
            align-items: start;
            width: 100%;
            padding: 20px 70px;

            button {
                width: 200px;
                height: 60px;
                font-style: italic;
                position: relative;
                border: none;
                color: $secondary-color;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 35px;
                font-weight: 600;
                &:active {
                    background-color: darken($accent-color, 0%);
                }
                
                top: -15px;
                left: -70px;
                border-radius: 0 9999rem 9999rem 0;
                background-color: black;
            }
        }
    }
}

.divider {
    width: 2px;
    // height: 440px;
    background: $accent-color;
    // border-radius: 30px;
}

.numpad-container {
    display: grid;
    place-items: center;
    // width: 100%;
    // padding-left: 890px;
    margin-top: -30px;
    align-items: center;
    justify-content: center;

    ::ng-deep app-num-pad {
        .numpad {
            .key {
                background-color: #4a4aff;
                color: white;

                &:active {
                    background-color: #4a4aff30;
                    transition: 60ms ease-in-out;
                    color: #4a4aff;
                }
            }
        }
    }
}

.numpad {
    display: grid;
    justify-content: center;
    gap: 25px;
}

.row {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    .ok {
        font-size: 30px;
    }
}

.key {
    background: $accent-color;
    color: #fff;
    // padding: 5px 0;
    font-size: 45px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    text-align: center;
    width: 11vh;
    height: 11vh;
    box-sizing: border-box;
    white-space: nowrap;
    font-weight: 600;
}

.key:active {
    background: #dcdcdc;
} /*# sourceMappingURL=style.css.map */

main {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding: 0px 40px;

        .left {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            .title {
                position: relative;
                left: 228px;
                top: -80px;
                h1 {
                    font-weight: bolder;
                }
            }

        }

        form {
          min-width: 70%;
          margin-top: -59px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          gap: 200px;

          .form-row {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            margin-bottom: 50px;

            > div {
              flex: 1;

              label {
                font-weight: 900;
                display: block;
                margin-bottom: -9px;
              }

              input,
              select {
                width: 100%;
                margin: 10px;
                padding-left: 10px;
                height: 60px;
                border-radius: 10px;
                border: solid 1px #4e3cda7c;
                background-color: #fafafa;
                box-shadow: 0px 3px 3px 0px rgba(180, 180, 180, 0.75);
                font-weight: 900;
                font-style: italic;

                &:focus {
                  border-color: $accent-color;
                  box-shadow: 3px 3px 8px rgba(109, 109, 247, 0.5);
                  outline: none;
                }
              }
            }

            &.amount-row {
              align-items: end;

              .amount {
                flex: 1;

                label {
                  font-weight: 900;
                  display: block;
                  margin-bottom: 5px;
                }

                input {
                  width: 87%;
                  padding-left: 50px;
                  height: 60px;
                  border-radius: 10px;
                  border: solid 1px #00ff337c;
                  background-color: #fafafa;
                  box-shadow: 0px 3px 3px rgba(180, 180, 180, 0.75);
                  font-weight: 900;
                  font-style: italic;

                  &:focus {
                    border-color: $accent-color;
                    box-shadow: 3px 3px 8px rgba(109, 109, 247, 0.5);
                    outline: none;
                  }
                }
              }

            }
          }
        }
      }
      
      .divider {
        width: 2px;
        height: 400px;
        background: $accent-color;
        position: relative;
        top: -20px;
      }

      .numpad-container {
        display: grid;
        place-items: center;
        margin-top: -30px;
        position: relative;
        top: -25px;

        ::ng-deep app-num-pad {
          .numpad {
            .key {
              background-color:#4a4aff;
              color: white;
              
              &:active {
                background-color: #4a4aff30;
                transition: 60ms ease-in-out;
                color: #4a4aff;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: start;
      align-items: start;
      width: 100%;
      padding: 20px 70px;

      button {
        width: 200px;
        height: 60px;
        font-style: italic;
        position: relative;
        border: none;
        color: $secondary-color;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 35px;
        font-weight: 600;
        top: -15px;
        left: -70px;
        border-radius: 0 9999rem 9999rem 0;
        background-color: black;

        &:active {
          background-color: darken($accent-color, 0%);
        }
      }
    }
  
    
    .error-message{
      
      font-size: 0.9rem;
    // visibility: hidden;
    color: red;
    height: 0px;
    position: relative;
    top: 5px;
  }
  .confirm-btn {
    height: 55px;
    margin-left:175px;
    margin-top: 20px;
    padding: 0 60px;
    font-size: 20px;
    width: 50%;
    font-weight: bold;
    border: none;
    border-radius: 18px;
    background-color: $accent-color;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    

    &:active {
      background-color: #4a4aff30;
      color: $accent-color;
    }
  }