<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>{{ userData?.name }}</h1>
                <h3>5078XXXXXXXXXXXX1254</h3>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="content">
            <div class="left">
                <div class="title">
                    <h1>Transfer Money</h1>
                </div>
                <form>
                    <div class="iban">
                        <label for="iban">Receive's IBAN:</label>
                        <input type="text" title="iban" id="iban">
                    </div>
                    <div class="bank">
                        <label for="bank">Receiver's Bank:</label>
                        <select id="bank">
                            <option value="" disabled selected>Select Bank</option>
                            <option value="01">01</option>
                        </select>
                    </div>
                    <div class="amount">
                        <label for="amount">Amount:</label>
                        <input type="text" title="amount" id="amount">
                    </div>
                </form>
            </div>

            <div class="divider"></div>

            <div class="numpad-container">
                <app-num-pad></app-num-pad>
            </div>
        </div>
        <div class="footer">
            <button (click)="back()">Back</button>
        </div>
    </div>
</main>
