// Variables
$primary-color: #1a1a40; // Background color
$secondary-color: #ffffff; // White text
$accent-color: #4a4aff; // Blue accent
$input-bg: #ffffff; // White input fields
$input-border: #cccccc; // Light gray border
$input-text: #333333; // Dark text for inputs

body {
  background-image: url(/pics/back.jpg);
  background-size: cover;
  background-position: center;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .pin-container {
    background: white;
    width: 720px;
    height: 515px;
    border-radius: 49px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 70px;

    .verfy {
      color: #4f46e5;
      font-size: 40px;
      font-style: italic;
      font-weight: 700;
      text-align: center;
      margin-top: 30px;
    }

    .subverfy {
      color: #4f46e5;
      font-size: 16px;
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      margin-bottom: 35px;
    }

    .enterotp {
      color: #000;
      text-align: center;
      font-weight: bolder;
      font-size: 35px;
      margin-top: 12px;
      margin-bottom: 10px;
    }

    .field {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      input {
        text-align: center; // Centers text horizontally
        background: $input-bg;
        border: 2px solid $input-border;
        // padding: 20px 110px;
        width: 40%;
        margin-top: 30px;
        border-radius: 999999rem;
        font-size: 50px;
        line-height: 0;
        font-weight: 900;
        color: $input-text;
        &::placeholder {
          text-align: center; // Ensures placeholder text is also centered
          font-weight: 100;
        }
      }
    }

    // .pin-boxes {
    //   display: flex;
    //   flex-direction: row;
    //   gap: 25px;
    //   padding-top: 1px;
    //   margin-bottom: 100px;
    // }

    // .pin-box {
    //   width: 73px;
    //   height: 73px;
    //   background: rgb(227, 227, 227);
    //   border-radius: 18px;
    // }

    // .didnt {
    //   color: #4f46e5;
    //   font-size: 16px;
    //   font-style: italic;
    //   font-weight: lighter;
    //   text-align: center;
    // }

    // .resend {
    //   position: relative;
    //   padding: 0px 16px;
    //   border: none;
    //   transition: background-color 0.3s;
    //   font-size: 25px;
    //   font-weight: 600;
    //   align-items: center;
    //   justify-content: center;
    //   border-radius: 9999rem 9999rem 9999rem 9999rem;
    //   background-color: #4f46e5;
    //   color: #ffffff;
    // }
    // .resend:active {
    //   background: #342f99;
    //   transition: 3ms ease-in-out;
    // }
  }

  .numpad-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-right: 70px;
    padding-top: 23px;

    justify-content: center;
    gap: 15px;
  }

  .numpad {
    display: grid;
    justify-content: center;
    gap: 30px;
  }

  .row {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .key {
    background: transparent;
    color: #fff;
    padding: 15px 0;
    font-size: 35px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 13vh;
    height: 13vh;
    box-sizing: border-box;
    white-space: nowrap;
    font-weight: bold;
  }

  .key:active {
    background: #dcdcdc;
  } /*# sourceMappingURL=style.css.map */
}

.Btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 40px;
}

.Btns .language-btn {
  position: relative;
  padding: 1px 45px;
  border: none;
  transition: background-color 0.3s;
  font-size: 35px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.Btns .confirm {
  border-radius: 9999rem 9999rem 9999rem 9999rem;
  background-color: #ffffff;
  color: #4f46e5;
}
.Btns .cancel {
  border-radius: 9999rem 9999rem 9999rem 9999rem;
  background-color: #ffffff;
  color: #4f46e5;
}

.Btns :active {
  background-color: #4f46e5;
  color: #ffffff;
}
