<main>
    <div class="container">
        <div class="title">
            <h1>Thank you for saving the environment!</h1>
        </div>
        <div class="content">
            <div class="lottie-fixed">
                <dotlottie-player>
                src="https://lottie.host/b5c3f6d1-7ecc-4a95-9672-99bc9920d7e1/of74Iri95y.lottie"
                background="transparent"
                  speed="1"
                  class="lottie-animation"
                  style="width: 550px; height: 550px"
                  autoplay>
                </dotlottie-player>
            </div>
            <div class="message">
                <p>Your withdrawal has been completed successfully.</p>
                <p>You will be redirected to the next screen shortly...</p>
            </div>
        </div>
    </div>
</main>
