<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>{{userData?.name}}</h1>
                <h3>5078XXXXXXXXXXXX1254</h3>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="services">
            <!-- الراوتس عايزه تتعمل انا حايبها من كود صفحه تانيه توفيرا للوقت بس -->
            <button class="card moneyWithdraw">
                My Certificates</button>
            <button (click)="navigateTo('view-available')" class="card certificates">
                View Available </button>

        </div>
    </div>
    <div class="footer">
        <button class="buttonn" (click)="back()">Back</button>
    </div>
</main>