<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>Yasseen A.</h1>
                <h3>5078XXXXXXXXXXXX1254</h3>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="services">
        <!-- الراوتس عايزه تتعمل انا حايبها من كود صفحه تانيه توفيرا للوقت بس -->
            <button (click)="navigateTo('cardservices')" class="card moneyWithdraw">
                 My Certificates</button>
            <button (click)="navigateTo('Certificates')" class="card certificates">
                View Available  </button>
          
        </div>
    </div>
    <div class="footer">
        <button class="buttonn" (click)="back()">Back</button>
    </div>
</main>