<main>
    <div class="container">
        <div class="title">
            <div class="text">
                <h1>Yasseen A.</h1>
                <h3>5078XXXXXXXXXXXX1254</h3>
            </div>
            <button (click)="logout()">Log out</button>
        </div>
        <div class="content">
            <h1>Account details</h1>
            <div class="details">
                <h3>Account number :</h3>
                <h3 id="accNum">5078125486481254</h3>
                <h3>Account balance :</h3>
                <h3 id="accBalance">230,000<span>EGP</span></h3>
                <h3>IBAN :</h3>
                <h3 id="IBAN">1258954610497464</h3>
                <h3>Swift code :</h3>
                <h3 id="swiftCode">8G43001FOOSS6672120000</h3>
                <h3>Account type:</h3>
                <h3 id="accType">Saving</h3>
            </div>
        </div>
        <div class="footer">
            <button class="back-btn" (click)="back()">Back</button>
        </div>
    </div>
</main>