<main>
    <div class="container">
        <div class="title">
            <h1>Printing Receipt...</h1>
        </div>
        <div class="content">
            <div class="lottie-fixed">
                <dotlottie-player
                src="https://lottie.host/5e1a2a9c-3fb8-4cad-b9e9-a6e2c1b1b6e5/Wd1UdV8Ckj.lottie"
                background="transparent"
                  speed="1"
                  class="lottie-animation"
                  style="width: 550px; height: 550px"
                  autoplay>
                </dotlottie-player>
            </div>
            <div class="message">
                <p>Your withdrawal receipt is being printed.</p>
                <p>Please collect your receipt from the printer.</p>
                <p>You will be redirected to the next screen shortly...</p>
            </div>
        </div>
    </div>
</main>
