<main>
  <div class="lottie-fixed">
    <dotlottie-player src="https://lottie.host/f71b7d45-d9c1-448d-9ab7-b6108bbfccdc/pCYfMgzGyC.lottie"
      background="transparent" speed="0.8" class="lottie-animation" style="width: 210px; height: 210px" autoplay>
    </dotlottie-player>
  </div>

  <div class="white-container">
    <div class="fail">
      <!-- <span>Authentication Failed,</span> -->
      @if (errorMessages.length > 0) {
        <div>
          <!-- <h3>Signup Failed:</h3> -->
          <ul>
            @for (msg of errorMessages; track msg) {
              <li style="list-style: none;">{{ msg }}</li>
            }
          </ul>
        </div>
      }

    </div>
  </div>
  <button class="btn-back" (click)="back()">Back</button>
</main>